h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}
p {
  font-family: 'PT Serif', serif;
  text-rendering: geometricPrecision;
}
.head-message {
  background: #2e2e30;
  color: white;
  text-align: center;
  padding: 10px 0;
}
.head-message ul {
  padding: 0;
  list-style: none;
}
.head-message ul li {
  display: inline-block;
  padding: 0 2%;
}
.head-message ul li a img {
  max-width: 200px;
}
.navWrapper {
  position: relative;
  height: 50px;
}
.navWrapper .navbar {
  margin-bottom: 0;
}
.navWrapper .navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .navWrapper .navbar .navbar-nav {
    text-align: center;
    float: inherit;
  }
  .navWrapper .navbar .navbar-nav > li {
    float: inherit;
    display: inline-block;
  }
}
.twitter-section {
  text-align: center;
}
.twitter-section p {
  font-size: 2em;
}
.twitter-section i {
  font-size: 2em;
}
.contact-section {
  padding: 1em 0;
}
.site-section-cta img {
  max-width: 100%;
}
.home-carousel .carousel-inner .item {
  max-height: 500px;
  overflow: hidden;
}
.home-carousel .carousel-inner .item img {
  width: 100%;
  margin-top: -10%;
}
.home-carousel .carousel-control.left,
.home-carousel .carousel-control.right {
  background: inherit;
}
.home-carousel .carousel-caption {
  bottom: inherit;
  top: 20px;
  text-align: left;
  max-width: 420px;
}
.primary-message {
  max-width: 900px;
  background: #2e2e30;
  margin: 0 auto;
  padding: 1em 2em;
  margin-top: -8em;
  margin-bottom: 2em;
  height: 200px;
  position: relative;
  z-index: 99;
  color: white;
}
.primary-message h1 {
  max-width: 50%;
  display: inline-block;
}
.primary-message .email-form {
  display: inline-block;
  max-width: 49%;
}
.archive-section {
  color: white;
  background: url('../images/BlueBG.png');
  background-size: 100%;
  text-align: center;
  padding: 2em 0;
}
.archive-section .btn-link {
  border: solid 1px #5f7fbc;
  color: white;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}
.archive-section .btn-link:hover {
  border-color: white;
}
.values-section {
  text-align: center;
}
.values-section .value {
  text-align: left;
  display: inline-block;
  width: 33%;
  padding: 1em;
  background: #2e2e30;
  color: white;
  margin-left: -4px;
  border-top: solid 5px white;
  margin-top: 2em;
}
.values-section .value.red {
  border-color: #ff0000;
}
.values-section .value.yellow {
  border-color: #ffff00;
}
.values-section .value.green {
  border-color: #00ff00;
}
@media screen and (max-width: 768px) {
  .values-section .value {
    width: 100%;
  }
}
