h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
p {
  font-family: 'PT Serif', serif;
  text-rendering: geometricPrecision;
}
body {
  background: #f6f6f6;
}
.ghost-list,
.ghostList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.ghost-list a,
.ghostList a,
.ghost-list time,
.ghostList time {
  display: block;
}
.ghost-list .btn,
.ghostList .btn {
  display: inline-block;
  margin: 10px 0;
}
.ghost-list li,
.ghostList li {
  border-bottom: solid 1px #eee;
  background: white;
  padding: 1em;
}
.invalid {
  border: 1px solid #F00;
}
.page-wrapper {
  min-height: 100%;
  padding-bottom: 100px;
}
.page-wrapper:after {
  content: "";
  display: block;
}
.footer-wrapper {
  margin-top: -100px;
}
input {
  padding: 10px;
  font-size: 14px;
}
select {
  font-size: 20px;
}
label {
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 1px;
}
.head-message {
  background: #2e2e30;
  color: white;
  text-align: center;
  padding: 10px 0;
}
.head-message ul {
  padding: 0;
  list-style: none;
}
.head-message ul li {
  display: inline-block;
  padding: 0 5%;
  vertical-align: middle;
  font-size: 12px;
  letter-spacing: 1px;
}
@media screen and (max-width: 900px) {
  .head-message ul li {
    padding: 0 2%;
  }
}
@media screen and (max-width: 600px) {
  .head-message ul li.pillar {
    display: none;
  }
}
.head-message ul li a img {
  max-width: 93px;
  margin-bottom: 6px;
}
.company-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: white;
}
.company-name span {
  color: #999;
}
.navWrapper {
  position: relative;
  height: 50px;
}
.navWrapper .navbar {
  margin-bottom: 0;
}
.navWrapper .navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .navWrapper .navbar .navbar-nav {
    text-align: center;
    float: inherit;
  }
  .navWrapper .navbar .navbar-nav > li {
    float: inherit;
    display: inline-block;
  }
  .navWrapper .navbar .navbar-nav > li a {
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
  }
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  position: relative;
  z-index: 9999;
  background: white;
}
.footer {
  background: #2e2e30;
  color: white;
  padding: 1em 0;
}
.footer .logo {
  max-width: 93px;
}
.footer .site-links ul,
.footer .site-links .social-footer-links {
  display: inline-block;
  list-style: none;
  width: 32%;
  vertical-align: top;
  padding: 0;
}
.footer .site-links ul a,
.footer .site-links .social-footer-links a {
  color: white;
  font-size: 12px;
}
.footer .site-links ul.primary-footer-links a,
.footer .site-links .social-footer-links.primary-footer-links a {
  font-weight: bold;
}
.footer .site-links ul.secondary-footer-links a,
.footer .site-links .social-footer-links.secondary-footer-links a {
  color: #b0b0b0;
}
.footer .site-links ul.social-footer-links,
.footer .site-links .social-footer-links.social-footer-links {
  padding-left: 20px;
  border: solid 1px #555;
  border-top: none;
  border-bottom: none;
}
.footer .site-links ul.social-footer-links strong,
.footer .site-links .social-footer-links.social-footer-links strong {
  display: block;
  margin-bottom: 3px;
}
.footer .site-links ul.social-footer-links li,
.footer .site-links .social-footer-links.social-footer-links li {
  text-align: left;
}
.footer .site-links ul.social-footer-links a,
.footer .site-links .social-footer-links.social-footer-links a {
  white-space: nowrap;
  color: #b0b0b0;
}
.footer .site-links ul.social-footer-links a i,
.footer .site-links .social-footer-links.social-footer-links a i {
  width: 15px;
  text-align: center;
}
.footer input {
  background: #4e5054;
  border-color: #4e5054;
  color: white;
}
.footer .input-group-btn i {
  font-size: 20px;
}
.class-table {
  margin: 0px auto;
}
.class-table th {
  padding: 0 15px;
}
.class-table td {
  padding: 15px;
}
.class-register label {
  display: block;
}
.class-register input {
  display: block;
}
.twitter-section {
  margin: 2em 0;
  color: white;
  background: url('../images/GreenBG.png');
  background-size: 100%;
  text-align: center;
  padding: 2em 0;
}
.twitter-section .content {
  padding: 5em 0;
}
.twitter-section .content p {
  font-size: 2em;
}
.twitter-section .content i {
  font-size: 2em;
}
.contact-section {
  padding: 1em 0;
}
.site-section-cta img {
  max-width: 100%;
}
.home-carousel .carousel-inner .item {
  max-height: 500px;
  overflow: hidden;
}
.home-carousel .carousel-inner .item img {
  width: 100%;
  margin-top: -10%;
}
.home-carousel .carousel-control.left,
.home-carousel .carousel-control.right {
  background: inherit;
}
.home-carousel .carousel-caption {
  bottom: inherit;
  top: 20px;
  text-align: left;
  max-width: 420px;
}
.primary-message {
  max-width: 900px;
  background: #2e2e30;
  margin: 0 auto;
  padding: 1em 2em;
  margin-top: -8em;
  margin-bottom: 2em;
  height: 200px;
  position: relative;
  z-index: 99;
  color: white;
}
.primary-message .color-head {
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  width: 100%;
  margin-left: 34px;
}
.primary-message .color-head .first-color,
.primary-message .color-head .second-color,
.primary-message .color-head .third-color,
.primary-message .color-head .forth-color {
  height: 6px;
  width: 80px;
  position: relative;
  top: -9px;
  display: inline-block;
  margin-left: -4px;
}
.primary-message .color-head .first-color {
  background: #ff0000;
}
.primary-message .color-head .second-color {
  background: #ffff00;
}
.primary-message .color-head .third-color {
  background: #00ff00;
}
.primary-message .color-head .forth-color {
  background: #0000ff;
}
.primary-message h1 {
  max-width: 49%;
  display: inline-block;
}
.primary-message .email-form {
  display: inline-block;
  max-width: 280px;
}
.primary-message .email-form strong {
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}
.primary-message .email-form button i {
  font-size: 20px;
}
.archive-section {
  color: white;
  background: url('../images/BlueBG.png');
  background-size: 100%;
  text-align: center;
  padding: 2em 0;
}
.archive-section .btn-link {
  border: solid 1px #5f7fbc;
  color: white;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}
.archive-section .btn-link:hover {
  border-color: white;
}
.values-section {
  text-align: center;
}
.values-section .value {
  text-align: left;
  display: inline-block;
  width: 33%;
  padding: 1em;
  background: #2e2e30;
  color: white;
  margin-left: -4px;
  border-top: solid 5px white;
  margin-top: 2em;
}
.values-section .value.red {
  border-color: #ff0000;
}
.values-section .value.yellow {
  border-color: #ffff00;
}
.values-section .value.green {
  border-color: #00ff00;
}
@media screen and (max-width: 768px) {
  .values-section .value {
    width: 100%;
  }
}
.section-header {
  position: relative;
}
.section-header h1 {
  color: black;
  position: absolute;
  bottom: 15px;
  width: 100%;
  padding: .5em;
  background: rgba(255, 255, 255, 0.6);
}
.content-area {
  max-width: 600px;
  padding-bottom: 1em;
}
.content-area h2,
.content-area h3 {
  border-bottom: solid;
  margin-top: 1em;
}
.content-header {
  margin: 2em 0;
  color: white;
  background: url('../images/GreenBG.png');
  background-size: 100%;
  text-align: center;
  padding: 4em 0;
}
@media screen and (max-width: 768px) {
  .events-wrapper {
    text-align: center;
  }
}
.events-wrapper ol {
  list-style: none;
  background: white;
  padding: 1em;
}
.events-wrapper ol li {
  min-height: 150px;
  padding: 25px;
  margin-bottom: 0px;
  border-bottom: solid 1px #eee;
}
@media screen and (max-width: 768px) {
  .events-wrapper ol li {
    margin-bottom: 1.5em;
    padding-bottom: 1em;
    border-bottom: solid 1px #eee;
  }
}
.events-wrapper ol li img {
  float: left;
  margin-right: 10px;
  border-radius: 6px;
}
@media screen and (max-width: 768px) {
  .events-wrapper ol li img {
    float: inherit;
    max-width: 100px;
  }
}
.events-wrapper ol li p {
  max-width: 700px;
}
.events-wrapper ol li a {
  border: solid 1px #5f7fbc;
  color: #5f7fbc;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}
.events-wrapper ol li a:hover {
  border-color: #5f7fbc;
}
.events-wrapper ol li h3 {
  margin: 0;
}
