.class-table{
  margin:0px auto;
  th{
    padding:0 15px;
  }

  td{
    padding:15px;
  }
}

.class-list{
  .title{}
  .dates{}
  .time{}
  .day{}
  .age-group{}
  .instructor{}
  .location{}
  .register-cta{}
}
