.donations-wrapper{

  .container {
    background: white;
    padding: 1em;
  }

  .donations-wrapper--method{



  }
  .method{
    text-align:center;
    .method--icon{
      
    }
    .details{

      vertical-align: middle;
    }
  }
}