.donations-wrapper{

  .container {
    background: white;
    padding: 1em;
  }

  .method{
    text-align:center;
    h4{
      padding:20px;
      font-weight:normal;
      text-transform: uppercase;
    }
    .method--icon{
      height:150px;
      width:150px;
    }
    .details{
      vertical-align: middle;
    }
  }
}