.primary-message {
	max-width: 900px;
	background: @darkBackground;
	margin: 0 auto;
	padding: 1em 2em;
	margin-top: -8em;
	margin-bottom: 2em;
	height: 200px;
	position: relative;
	z-index: 99;
	color: white;

	.color-head {
		
		.first-color {

		}
		.second-color {

		}
		.third-color {

		}
		.forth-color {

		}
	}

	h1 {
		max-width: 50%;
		display: inline-block;
	}
	.email-form {
		display: inline-block;
		max-width: 49%;
	}
}