// Color Scale
// --------------------------------------------------
@red: 100;
@blue: 200;
@green: 300;
@purple: 400;
 
 
// Color Applications
// --------------------------------------------------
@screenForeground: @purple;
@followUpVisibility: @purple;
@prlWelcome: @purple;