// Color Scale
// --------------------------------------------------
@primary-dark: #2e2e30;
@blue: 200;
@green: 300;
@purple: 400;
 
 
// Color Applications
// --------------------------------------------------
@darkBackground: @primary-dark;

@followUpVisibility: @purple;
@prlWelcome: @purple;